.one_recipe_container {
  gap: 6px;
  padding: 6px;
  background-color: #0d0d0d;

  .recipe_title {
    font-weight: 500;
    margin-bottom: 5px;

    .duplicated_recipe {
      border-radius: 4px;
      padding: 2px 6px;
      margin: 0 6px;
      font-weight: 900;
      font-size: 12px;
      background-color: #e49444;
    }
  }

  .one_recipe {
    display: flex;
    align-items: center;
    gap: 10px;

    .resource_group {
      display: flex;
      gap: 6px;
  
      .resource_in_out {
        position: relative;
        padding: 4px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
  
        .resource_icon {
          width: 40px;
          height: 40px;
        }

        .resource_count {
          position: absolute;
          bottom: 0;
          right: 0;
          height: 20px;
          padding-inline: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fefefe;
          background-color: #656565;
          font-weight: 700;
          font-size: 14px;
          border-radius: 4px;
        }
      }
    }

    .arrow_container {
      transform: rotate(90deg);
    }

    .recipe_info {
      display: flex;
      flex-wrap: wrap;
      gap: 5px 30px;

      .recipes_one_info {
        color: #e49444;
        font-weight: 500;
      }
    }
  }

}
