@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//? Police d'écriture
$kanit: "Kanit", sans-serif;

//? Couleur
$color0: #ffffff;
$color4: #ff8906;
$color6: #e53170;
$color14: #151d3f;