@use "@styles/index";

.input_container {
  color: #fefefe;
  margin-block: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  .checkbox_minutes {
    appearance: checkbox;
    margin-inline: 12px;
  }

  .range_overclocking {
    display: flex;
    width: 500px;
    align-items: center;

    .range_container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      cursor: default;

      .range_overclocking_input {
        width: calc(100% - 20px);
        height: 25px;
        margin-left: 20px;

        &::-webkit-slider-runnable-track {
          // background-color: $color3;
          border-radius: 50px;
          height: 0.5rem;
        }

        &::-webkit-slider-thumb {
          appearance: none;
          appearance: none;
          margin-top: -6px;
          background-color: #fefefe;
          border-radius: 50%;
          height: 20px;
          width: 20px;

          &:hover {
            cursor: pointer;
          }
        }

        &:active::-webkit-slider-thumb {
          background-color: #cecece;
        }
      }

      .range_overclocking_value {
        position: absolute;
        top: -15px;
        background-color: transparent;
      }
    }
  }

  .list_name_filter {
    width: 300px;
    display: flex;
    align-items: center;

    &_input {
      background-color: #cecece;
      padding: 3px 8px;
      margin-inline: 8px;
      border-radius: 5px;
      color: #010101;
      width: 150px;
    }
  }
}

.recipes {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
