@use "@styles/variables";

.header {
  width: 100%;
  height: variables.$headerHeight;
  background-color: var(--theme-colorNeutralDark);
  color: var(--theme-colorNeutralContent);
  padding-inline: calc(2 * var(--theme-spaceXL));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
