@use "@styles/variables";

.app {
  font-family: variables.$fontFamily;
  background-color: var(--theme_colorBlack);
  min-height: 100svh;
  color: #fefefe;
  width: 100%;

  .content_container {
    padding: 8px;
  }
}
